<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Bunble</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="site-header">
      <nav>
        <a href="/" class="bunble-logo-center">Bunble</a>
        <ul class="nav-links">
          <li><a href="/new" class="nav-link">new user</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
    {{{ body }}}
    </main>
  </body>
</html>