<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Bunble</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="site header">
      <div class="header buttons">
        <a href="/" class="bunble-logo-center">bunble</a>
        <a href="/user/new" class="new-user-right">new user</a>
      </div>
    </header>
    <main class="container">
    {{{ body }}}
    </main>
  </body>
</html>