{{!-- Form for signing up for Bunble --}}
<div class="new-user">
  <h4>SIGN UP:</h4>
  <form class="new-user-form" action="/user" method="POST">
  <p>Email Address: <input type="email" name="email" placeholder="Email"></p>
  <p>Password: <input type="password" name="password" placeholder="Password"></p>
  <p><input class="sign-up-button" type="submit" value="Sign Up" class="btn"></p>
  </form>
</div>