{{!-- <section class="row">
    <h4>Sign Up:</h4>

    {{#if message}}
        <p class="alert">{{ message }}</p>
    {{/if}}

    <form action="" method="POST" class="auth-form">
        <p class="input-field">
            <input type="email" name="email" placeholder="email">
        </p>
        <p class="input-field">
            <input type="password" name="password" placeholder="password">
        </p>
        <p class="input-field">
            <input type="submit" value="sign up">
        </p>
    </form>
</section> --}}