/* LAYOUT  */
body {
    background-image: url('../images/french-fries.jpg');
    background-repeat: repeat;
    font-family: 'Nunito', sans-serif;
}

.site-header {
    background: tomato;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    margin: 0;
    padding: 30px 0px 15px 0px;
    text-align: center;
    box-shadow: 10px grey;
    color: white;
}

.bunble-logo-center {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 75px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links {
    text-align: right;
    list-style-type: none;
    margin: 0px 2% 0px 0px;
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;  
}

main {
    border: solid black 5px;
    margin: 25px 1% 25px 1%;
}

/* HOMEPAGE */
.burgers {
    /* border: solid blue 5px; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row; */
}

.slide-partial {
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    margin: 10px 10px 10px 10px;
    /* border: solid pink 5px; */
    flex-direction: row;
    /* display: flex; */
    /* height: 400px;
    width: 300px; */
}

.burger-image {
    border: solid white 5px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

.image {
    height: 350px;
    /* flex-shrink: 1;
    min-width: 100%;
    min-height: 100% */
}

.burger-link {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* BURGER ID PAGE */
.id-partial {
    text-align: center;
    margin: 25px 20% 25px 20%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    border: solid gold 5px;
}

.burger-name {
    background: tomato;
    padding: 5px 10px 5px 10px;
}

.burger-desc {
    background: gold;
    padding: 3px 10px 3px 10px;
}

.bun {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.meat {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping1 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.topping2 {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping3 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.topping4 {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping5 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

/* Comments */
.comments-list {
    margin: 25px 20% 25px 20%;
    padding: 10px 10px 10px 10px;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);    
    border: solid green 5px;
}

.comment-form {
    margin: 25px 20% 25px 20%;
    padding: 10px 10px 10px 10px;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);    
    border: solid pink 5px;
}

/* New User page */
.new-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px 35% 25px 35%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    border: solid gold 5px;
    padding: 10px 10px 10px 10px;
}

h4 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: tomato;
    font-size: 24px;
}

.auth-form {
    font-size: 16px;
}