/* LAYOUT  */
body {
    background-image: url('../images/french-fries.jpg');
    background-repeat: repeat;
    font-family: 'Nunito', sans-serif;
}

.site-header {
    background: tomato;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 10px 0px;
    text-align: center;
    box-shadow: 10px grey;
    color: white;
}

.bunble-logo-center {
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 75px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links {
    /* display: inline; */
    text-align: right;
    list-style-type: none;
    margin: 0px 2% 0px 0px;
    color: white;
    text-decoration: none;
}

.nav-link {
    /* display: inline; */
    color: white;
    text-decoration: none;  
}

main {
    /* border: solid black 5px; */
    margin: 25px 1% 25px 1%;
}

h4 {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: tomato;
    font-size: 24px;
}

/* HOMEPAGE */
.burgers {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide-partial {
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    margin: 10px 10px 10px 10px;
    flex-direction: row;
    /* display: flex; */
    /* height: 400px;
    width: 300px; */
}

.burger-image {
    border: solid white 5px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
    width: 350px; */
}

.image {
    height: 350px;
    /* flex-shrink: 1;
    min-width: 100%;
    min-height: 100% */
}

.burger-link {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/* BURGER ID PAGE */
.id-partial {
    text-align: center;
    margin: 25px 25% 25px 25%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
}

.burger-name {
    background: tomato;
    padding: 5px 10px 5px 10px;
}

.burger-desc {
    background: gold;
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    font-weight: bold;
}

.bun {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.meat {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping1 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.topping2 {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping3 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

.topping4 {
    background: silver;
    padding: 0px 10px 0px 10px;
}

.topping5 {
    background: lightgrey;
    padding: 0px 10px 0px 10px;
}

/* Comments */
.comments-list {
    margin: 25px 25% 25px 25%;
    padding: 10px 10px 10px 10px;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);    
}

.comment-date {
    font-size: 12px;
    color: dimgray;
}

.delete-comment-button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background: #44C355;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 0px 0px;
}

.comment-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 25px 25% 25px 25%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    padding: 2px 10px 10px 10px;
}

.comment-input {
    height: 75px;
    width: 500px;
    font-size: 14px;
}

.comment-submit-button {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background: gold;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}

/* New User page */
.new-user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 25px 35% 25px 35%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    padding: 10px 10px 25px 10px;
}

.new-user-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.sign-up-button {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background: gold;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}

/* User Profile */
.user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 25px 25% 25px 25%;
    background: white;
    box-shadow: 10px 10px 85px -6px rgba(0,0,0,0.75);
    padding: 10px 10px 25px 10px;
}

.delete-account-form {
    display: flex;
    justify-content: center;
}

.delete-account-button {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background: gold;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}